ol,ul{list-style:none; margin: 0 0 0px 0px; !important}

.daybar p {
	margin-left: -2px;
}

body {
	padding-left:0px !important;
	padding-right:0px !important;
}

@media all and (min-width: 500px) {
	p.g1:after{ content:"day" !important; }
	p.g2:after{ content:"nesday" !important; }
	p.g3:after{ content:"urday" !important; }
}

#daysweek{
	margin-top: 20px;
}

.btn.btn-small.btn-primary {
	margin: 6px;
	margin-top: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

#mtext {
	display: inline;
}

#daysmonth {
	transition: all .2s ease-in-out;
}

.zoom {
	transform-origin: 905.5px 285.5px; transform: translate(147.760236px, 554.713833px) rotate(-0.349043rad) skewX(0rad) scale(2.40131, 2.40131);
}